body {

  background-color:black;
}
h1{
  text-align:center;
}
img{

  width:100px;height:auto;
}
a:hover {
  color: yellow;
}

.flex-container > div {
  font-size:150%;
  font-family:courier;
  display: flex;
  justify-content: center;
  background-color:black;
}
